@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="box-shadow-content">
                    <div class="block-heading-1">
                        <span class="d-block mb-3 aos-init aos-animate" data-aos="fade-up">Kliniğimize Hoş Geldiniz</span>
                        <h1 class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Gülüşünüz Bizim İçin Değerli</h1>
                    </div>
                    <p class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        Modern teknoloji ve uzman kadromuzla sizlere en iyi diş sağlığı hizmetlerini sunmayı hedefliyoruz. Kliniğimizde hijyen ve hasta memnuniyeti en ön planda tutulmaktadır. Alanında deneyimli hekimlerimizle, sağlıklı ve güzel bir gülüşe sahip olmanız için buradayız. Sizlere güvenilir, rahat ve profesyonel bir ortamda hizmet vermekten mutluluk duyuyoruz. Randevu almak ve daha fazla bilgi edinmek için bizimle iletişime geçin.

                    </p>
                    <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a href="#" class="btn btn-primary text-white py-3 px-5">Bizimle İletişime Geçin</a></p>
                </div>
            </div>
        </div>
    </div>